.rsce_google_review {
    cursor: pointer;
    position: fixed;
    top: 200px;
    right: 0;
    z-index: 999999;
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #e30613;
    border-left: 1px solid #e30613;
    border-bottom: 1px solid #e30613;
    background-color: #ffffff;
}
@media (max-width: 767.98px) {
    .rsce_google_review {
        flex-direction: column;
        padding: 5px;
    }
}
.rsce_google_review img {
    width: 45px;
    margin-right: 10px;
}
@media (max-width: 991.98px) {
    .rsce_google_review img {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
@media (max-width: 991.98px) {
    .rsce_google_review__title, .rsce_google_review__text {
        display: none;
    }
}
@media (max-width: 991.98px) {
    .rsce_google_review__container p#ratingStars {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.rsce_google_review__container p {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1;
}
.rsce_google_review__container p:last-child {
    margin-bottom: 0;
}
.rsce_google_review__container p span#userRatingsTotal {
    font-size: 12px;
    font-weight: 500;
}
@media (max-width: 991.98px) {
    .rsce_google_review__container p#ratingStars {
        margin-bottom: 0;
    }
}
.rsce_google_review__container p#ratingStars span#rating {
    padding-right: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #e30613;
}
@media (max-width: 991.98px) {
    .rsce_google_review__container p#ratingStars span#rating {
        margin-bottom: 5px;
        padding-right: 0;
    }
}
.rsce_google_review__container p#ratingStars span.star {
    font-size: 14px;
    color: orange;
}rsce_google_reviews.html5
 rsce_google_reviews_config.php